<template>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-center">
                                <div class="image-container">
                                    <img :src="user.photo_url" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle mt-2">
                                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData m-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{ user.name }}</h2>
                                    <h6 class="d-block">{{ user.email }}</h6>
                                    <h6 class="d-block">Web Developer</h6>
                                </div>
                                <div class="center">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tab-content ml-1" id="myTabContent">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                            </ul>
                            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                        
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Name</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                    {{ user.name }}
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Birth Date</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        March 11, 2020.
                                    </div>
                                </div>
                                <hr />
                                
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Gender</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        Male
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Profession</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        Web Developer
                                    </div>
                                </div>
                                <hr />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Social Media</a>
                                </li>
                            </ul>
                            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                        
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Instagram</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        <a href="https://www.instagram.com/ab._muhyi/" target="_blank">@ab._muhyi</a>
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Facebook</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        <a href="https://web.facebook.com/profile.php?id=100057207440782" target="_blank">Muhyi Abdul Basith</a>
                                    </div>
                                </div>
                                <hr />
                                
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">LinkedIn</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        <a href="https://www.linkedin.com/in/muhyi-abdul-basith-0aa8a7191/" target="_blank">Muhyi Abdul Basith</a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Phone Number</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        <a href="https://api.whatsapp.com/send?phone=6285710560686" target="_blank">085710560686</a>
                                    </div>
                                </div>
                                <hr />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import { mapGetters } from 'vuex'
    export default {
         computed: mapGetters({
                    user: 'auth/user'
                    })
    }

</script>

<style>

</style>